{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <article>
      <h1>{{ .Title }}</h1>
      {{ .Content }}
      <div class="page-footer-meta d-flex flex-column flex-md-row justify-content-between">
				{{ if .Site.Params.lastMod -}}
					{{ partial "main/last-modified.html" . }}
				{{ end -}}
				{{ if .Site.Params.editPage -}}
					{{ partial "main/edit-page.html" . }}
				{{ end -}}
			</div>
    </article>
  </div>
</div>
{{ end }}
