{{ define "main" }}
<section class="section container-fluid mt-n3 pb-0">
  <div class="row justify-content-start row-cols-1">
    <div class="text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="text-center">
      <!--<p class="lead">{{ .Params.lead | safeHTML }}</p>-->
      <p class="lead text-center">IDmelon provides security key as a service based on FIDO2 standard. See below for more information and details.</p>
    </div>
    <div class="card mx-0 px-0 border-primary rounded">
      <div class="card-body">
        <h5 class="card-title mx-0">Learn about IDmelon</h5>
        <p class="card-text">{{ .Params.lead | safeHTML }}</p>
        <!--<a href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}prologue/introduction/"  class="stretched-link"></a>-->
      </div>
    </div>
  </div>
</section>
<section class="section-sm container mt-n1 pb-3">
  <div class="row justify-content-center row-cols-4 row-cols-md-1">
    <div class="card text-dark text-center bg-light mb-1 mx-1 border-primary" style="max-width: 19rem;">
      <div class="card-header bg-transparent">Get Started</div>
      <div class="card-body">
        <h5 class="card-title my-3"></h5>
        <p class="card-text my-3">Checkout IDmelon, learn more about our service and start using IDmelon.</p>
        <a href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}prologue/introduction/" class="stretched-link"></a>
      </div>
    </div>
    <div class="card text-center text-dark bg-light mb-1 mx-1 border-primary" style="max-width: 19rem;">
      <div class="card-header bg-transparent">For Adminstrators</div>
      <div class="card-body">
        <h5 class="card-title my-3"></h5>
        <p class="card-text my-3">Rolling out password less authentication using Contactless card, Smartphone, or hardware security key.</p>
        <a href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}administration/Introduction/" class="stretched-link"></a>
      </div>
    </div>
    <div class="card text-dark text-center bg-light mb-1 mx-1 border-primary" style="max-width: 19rem;">
      <div class="card-header bg-transparent">For End Users</div>
      <div class="card-body">
        <h5 class="card-title my-3"></h5>
        <p class="card-text my-3">Activate and connect to your work accounts using Contactless card, Smartphone, or hardware security key .</p>
        <a href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}For_users/activate_work_account/" class="stretched-link"></a>
      </div>
    </div>
    <div class="card text-dark text-center bg-light mb-1 mx-1 border-primary" style="max-width: 19rem;">
      <div class="card-header bg-transparent">For Personal Users</div>
      <div class="card-body">
        <h5 class="card-title my-3"></h5>
        <p class="card-text my-3">Using smartphone as a FIDO2 security key to protect your online accounts.</p>
        <a href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}individuals/quick-start/" class="stretched-link"></a>
      </div>
    </div>
  </div>
  <div class="row justify-content-center row-cols-4">
    <div class="card text-dark text-center bg-light mb-1 mx-2 border-primary" style="max-width: 18rem;">
      <div class="card-header bg-transparent">IDmelon Moblie App</div>
      <div class="card-body">
        <h5 class="card-title my-3"></h5>
        <p class="card-text my-3">Experiance fast, secure, and, passwordless authentication using IDmelon Mobile App.</p>
        <a href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}mobileapp/ourmobileapp/" class="stretched-link"></a>
      </div>
    </div>
    <div class="card text-dark text-center bg-light mb-1 mx-2 border-primary" style="max-width: 18rem;">
      <div class="card-header bg-transparent">IDmelon Pairing Tool</div>
      <div class="card-body">
        <h5 class="card-title my-3"></h5>
        <p class="card-text my-3">A completely hardware-less authentication method through your smartphone.</p>
        <a href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}pairingtool/ourparigintool/" class="stretched-link"></a>
      </div>
    </div>
    <div class="card text-dark text-center bg-light mb-1 mx-2 border-primary" style="max-width: 18rem;">
      <div class="card-header bg-transparent">IDmelon Reader</div>
      <div class="card-body">
        <h5 class="card-title my-3"></h5>
        <p class="card-text my-3">IDmelon Reader is a hardware to let you use your smartphones as a security key.</p>
        <a href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}readeguide/reader/" class="stretched-link"></a>
      </div>
    </div>
    <div class="card text-dark text-center bg-light mb-1 mx-1 border-primary" style="max-width: 18rem;">
      <div class="card-header bg-transparent">For Security Experts</div>
      <div class="card-body">
        <h5 class="card-title my-3"></h5>
        <p class="card-text my-3">Checkout IDmelon security approaches.</p>
        <a href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}scrty/availability_and_resiliency/" class="stretched-link"></a>
      </div>
    </div>      
  </div>
</section>

{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">FIDO Certified</h2>
          <p>FIDO2 cryptographic login credentials are unique across every website, never leave the user’s device and are never stored on a server.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Phishing resistant</h2>
          <p>The public/private key based security model eliminates the risks of phishing, all forms of password theft and replay attacks.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Tap & Login Experience</h2>
          <p>Super convenient for shared environment PCs where users can walk to a PC, tap their phone or fob on the reader, to do their job.</p>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">Management Panel</h2>
          <p>Gaining visibility into user devices is the first step in establishing device trust, and it’s an essential aspect of a strong zero-trust strategy.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Smartphone as security key</h2>
          <p>Go password less while going completely hardware less too at the same time with IDmelon Android/iOS app.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Hardware security keys</h2>
          <p>Try IDmelon Fob for mobile restricted environment to enjoy tap and go login. Or IDmelon key for traditional usb security key.</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
