{{ define "main" }}
<section class="section mt-n3 pb-0">
  <div class="row justify-content-start">
    <div class="home-top-holder">
      <h1 class="justify-content-start mt-0">IDmelon Documentation</h1>
      <!--<form class="home-search">
        <svg class="home-search-svg" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.5 21C16.7467 21 21 16.7467 21 11.5C21 6.25329 16.7467 2 11.5 2C6.25329 2 2 6.25329 2 11.5C2 16.7467 6.25329 21 11.5 21Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M22 22L20 20" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>                  
        <input id="search" class="form-hs-control is-home-search" type="search" placeholder="Search docs..." aria-label="Search docs..." autocomplete="off">
        <div id="suggestions" class="shadow bg-white rounded d-none home-search-res"></div>
      </form>-->
    </div>
    <div class="text-center">
      <!--<p class="lead">{{ .Params.lead | safeHTML }}</p>-->
      <p class="lead text-start" style="font-size:18px;">IDmelon provides security key as a service based on FIDO2 standard. {{ .Params.lead | safeHTML }}</p>
    </div>
  </div>
</section>
<section class="section-sm container mt-n1 pb-3">
  <div class="row justify-content-between">
    <div class="card card-transition text-dark bg-light my-2 home-card-body" >
      <div class="card-body">
        <h3 class="card-title my-3 text-lg-start" style="font-size:18px;">For Adminstrators</h3>
        <p class="card-text my-3 text-start fs-6" style="font-size:18px;">IDmelon Administration panel gives admins the ability to manage users and groups, assign security keys based on different devices (smartphone, contactless card, and any other type of hardware security keys), apply security policies and make necessary changes by viewing reports.</p>
        <a href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}administration/introduction/" class="stretched-link"></a>
      </div>
      <a class="read-more">Read more...</a>
    </div>
    <div class="card card-transition text-dark text-center bg-light my-2 home-card-body" >
      <div class="card-body">
        <h3 class="card-title my-3 text-start" style="font-size:18px;">For End Users</h3>
        <p class="card-text my-3 text-start fs-6" style="font-size:18px;">As an end user (employee), one of your organization’s admins may send an invitation email to your work email address. You can follow the instruction to activate your work account to use your smartphone as a FIDO security key to get access to your organization’s resources.</p>
        <a href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}for_users/activate_work_account/" class="stretched-link"></a>
      </div>
      <a class="read-more">Read more...</a>
    </div>
    <div class="card card-transition text-dark text-center bg-light my-2 home-card-body" >
      <div class="card-body">
        <h3 class="card-title my-3 text-start" style="font-size:18px;">For Personal Users</h3>
        <p class="card-text my-3 text-start fs-6" style="font-size:18px;">IDmelon security key as a service also allows you as an individual user to easily turn your smartphones into a security key and use it to protect your online accounts on a daily basis.</p>
        <a href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}individuals/quick-start/" class="stretched-link"></a>
      </div>
      <a class="read-more">Read more...</a>
    </div>
    <div class="card text-dark card-transition text-center bg-light my-2 home-card-body" >
      <div class="card-body">
        <h3 class="card-title my-3 text-start" style="font-size:18px;">For Security Experts</h3>
        <p class="card-text my-3 text-start fs-6" style="font-size:18px;">In addition to all the security measures observed in the design and development of IDmelon solutions, the security details considered in the FIDO standard can also help you as a security expert to ensure the security of passwordless solutions based on FIDO, such as IDmelon.</p>
        <a href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}scrty/fido/" class="stretched-link"></a>
      </div>
      <a class="read-more">Read more...</a>
    </div>
  </div>
</section>
{{ end }}
{{ define "sidebar-prefooter" }}
{{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section-sm">
    <div class="container">
      <div class="row justify-content-start row-cols-1 mb-5">
        <div class="text-center">
          <!--<p class="lead">{{ .Params.lead | safeHTML }}</p>-->
          <p class="lead text-start" style="font-size:18px;">You can connect your Mobile App to IDmelon Pairing Tool or you can use IDmelon Reader to experianace passwordless authentication.</p>
        </div>
      </div>
      <div class="row">
        <div class="mt-3">
            <div class="card card-transition-2">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        <img  src="/images/vendor/Homepage/IDmelon-Mobile-App.svg" alt="Card image cap" class="card-img-size">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title pt-3" style="font-size:18px;">IDmelon Moblie App</h4>
                        <p class="card-text card-text-container" style="font-size:18px;">Use your smartphones as a FIDO2 hardware security key and enjoy passwordless login experience with only a single tap or a single click on a push notification.
                         <br>
                         <a class="wide-car-read-more">Read more...</a>
                        </p>
                        <a href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}mobileapp/ourmobileapp/" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mt-3">
            <div class="card card-transition-2">
                <div class="card-horizontal">
                    <div class="img-square-wrapper ">
                        <img  src="/images/vendor/Homepage/IDmelon-Pairing-Tool.svg" alt="Card image cap" class=" card-img-size">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title pt-3" style="font-size:18px;">IDmelon Pairing Tool</h3>
                        <p class="card-text card-text-container" style="font-size:18px;">A piece of software which acts as a completely hardware-less authentication method to ensure you, that you are the only one who can have authorized access through your smartphone.
                         <br>
                         <a class="wide-car-read-more">Read more...</a>
                        </p>
                        <a href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}pairingtool/ourparigintool/" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mt-3">
            <div class="card card-transition-2">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        <img src="/images/vendor/Homepage/IDmelon-Reader.svg" alt="Card image cap" class=" card-img-size">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title pt-3" style="font-size:18px;">IDmelon Reader</h3>
                        <p class="card-text card-text-container" style="font-size:18px;">A piece of hardware with different modes of operation to let you use your smartphones as a security key. Enjoy the passwordless login experience with a single tap with a smartphone on the reader.
                         <br>
                         <a class="wide-car-read-more">Read more...</a> 
                        </p>
                        <a href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}readeguide/reader/" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
  </section>
  {{ end }}
{{ end }}
{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
