{{ define "main" }}
<section class="section mt-n3 pb-0">
  <div class="row justify-content-start">
    <div class="text-start">
      <h2 class="mt-0 h2-custome">Welcome to</h2>
    </div>
    <div class="text-start">
      <h2 class="mt-0 h2-custome">the IDmelon Documentation</h2>
    </div>
    <div class="text-center">
      <!--<p class="lead">{{ .Params.lead | safeHTML }}</p>-->
      <p class="lead text-start">IDmelon provides security key as a service based on FIDO2 standard.{{ .Params.lead | safeHTML }}</p>
    </div>
  </div>
</section>
<section class="section-sm container mt-n1 pb-3">
  <div class="row justify-content-center row-cols-1 row-cols-md-2">
    <div class="card card-transition text-dark bg-light mb-1 mx-1" style="max-width: 19rem;">
      <div class="card-body">
        <h5 class="card-title my-3 text-lg-start">For Adminstrators</h5>
        <p class="card-text my-3 text-start fs-6">IDmelon Administration panel gives admins the ability to manage users and groups, assign security keys based on different devices (smartphone, contactless card, and any other type of hardware security keys), apply security policies and make necessary changes by viewing reports.</p>
        <a href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}administration/introduction/" class="stretched-link"></a>
      </div>
    </div>
    <div class="card card-transition text-dark text-center bg-light mb-1 mx-1" style="max-width: 19rem;">
      <div class="card-body">
        <h5 class="card-title my-3 text-lg-start">For End Users</h5>
        <p class="card-text my-3 text-start fs-6">As an end user (employee), one of your organization’s admins may send an invitation email to your work email address. You can follow the instruction to activate your work account to use your smartphone as a FIDO security key to get access to your organization’s resources.</p>
        <a href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}for_users/activate_work_account/" class="stretched-link"></a>
      </div>
    </div>
    <div class="card card-transition text-dark text-center bg-light mb-1 mx-1" style="max-width: 19rem;">
      <div class="card-body">
        <h5 class="card-title my-3 text-lg-start">For Personal Users</h5>
        <p class="card-text my-3 text-start fs-6">IDmelon security key as a service also allows you as an individual user to easily turn your smartphones into a security key and use it protect your online accounts in daily personal uses.</p>
        <a href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}individuals/quick-start/" class="stretched-link"></a>
      </div>
    </div>
    <div class="card text-dark card-transition text-center bg-light mb-1 mx-1" style="max-width: 19rem;">
      <div class="card-body">
        <h5 class="card-title my-3 text-lg-start">For Security Experts</h5>
        <p class="card-text my-3 text-start fs-6">In addition to all the security measures observed in the design and development of IDmelon solutions, the security details considered in the FIDO standard can also help you as a security expert to ensure the security of passwordless solutions based on FIDO, such as IDmelon.</p>
        <a href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}scrty/availability_and_resiliency/" class="stretched-link"></a>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-start row-cols-1 mb-5">
        <div class="text-start">
          <h2 class="mt-0 h2-custome">IDmelon</h2>
        </div>
        <div class="text-center">
          <!--<p class="lead">{{ .Params.lead | safeHTML }}</p>-->
          <p class="lead text-start">IDmelon provides various ways for users to experiance passwordless authentication and ensures that you and only you are the persin who is connected to your account. 
            You can connect your Mobile App to IDmelon Pairing Tool or you can use Hardware Securitykey. Base on your own prefrence choose your authentication method.</p>
        </div>
      </div>
      <div class="card mb-3 card-transition-2" style="max-width: 100rem;">
        <div class="row g-0">
          <div class="col-md-2">
            <img src="/images/vendor/Homepage/IDmelon-Mobile-App.svg" class="img-fluid rounded card-img-size">
          </div>
          <div class="col-md-12">
            <div class="card-body pb-4">
              <h5 class="card-title mt-3">IDmelon Moblie App</h5>
              <p class="card-text pt-3 pb-3">Use your smartphones as a FIDO2 hardware security key and enjoy passwordless login experience with only a single tap or a single click on a push notification.
              </p>
              <a href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}mobileapp/ourmobileapp/" class="stretched-link"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3 card-transition-2" style="max-width: 100rem;">
        <div class="row g-0">
          <div class="col-md-2">
            <img src="/images/vendor/Homepage/IDmelon-Pairing-Tool.svg" class="img-fluid rounded card-img-size">
          </div>
          <div class="col-md-12">
            <div class="card-body pb-4">
              <h5 class="card-title mt-3">IDmelon Pairing Tool</h5>
              <p class="card-text pt-3 pb-3">A piece of software which acts as a completely hardware-less authentication method to ensure you, that you are the only one who can have authorized access through your smartphone.
              </p>
              <a href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}pairingtool/ourparigintool/" class="stretched-link"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3 card-transition-2" style="max-width: 100rem;">
        <div class="row g-0">
          <div class="col-md-2">
            <img src="/images/vendor/Homepage/IDmelon-Reader.svg" class="img-fluid rounded card-img-size" >
          </div>
          <div class="col-md-12">
            <div class="card-body pb-4">
              <h5 class="card-title mt-3">IDmelon Reader</h5>
              <p class="card-text pt-3 pb-3">A piece of hardware with different modes of operation to let you use your smartphones as a security key. Enjoy the passwordless login experience with a single tap with a smartphone on the reader. 
              </p>
              <a href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}readeguide/reader/" class="stretched-link"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}
{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
