/* Roboto regular */
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    // Google Fonts Roboto
    local("Roboto Regular"),   // Full Name
    local("Roboto-Regular"),   // PostScript name
    // indestructible Roboto*
    local("Roboto* Book"),
    local("Roboto-Book"),
    url("fonts/vendor/roboto/Roboto-Regular.ttf") format("truetype"),
    url("fonts/vendor/roboto/Roboto-Regular.ttf") format("truetype"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Roboto-500 */
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    // Google Fonts Roboto
    local("Roboto Regular Medium"),
    local("Roboto-Medium"),
    // indestructible Roboto*
    local("Roboto* Medium"),
    local("Roboto-Medium"),
    url("fonts/vendor/roboto/Roboto-Medium.ttf") format("truetype"),
    url("fonts/vendor/roboto/Roboto-Medium.ttf") format("truetype"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Roboto-700 - latin */
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    // Google Fonts Roboto
    local("Roboto Regular Bold"),
    local("Roboto-Bold"),
    // indestructible Roboto*
    local("Roboto* Bold"),
    local("Roboto-Bold"),
    url("fonts/vendor/roboto/Roboto-Bold.ttf") format("truetype"),
    url("fonts/vendor/roboto/Roboto-Bold.ttf") format("truetype"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Roboto-italic */
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    // Google Fonts Roboto
    local("Roboto Italic Italic"),
    local("Roboto-Italic"),
    // indestructible Roboto*
    local("Roboto* BookItalic"),
    local("Roboto-BookItalic"),
    url("fonts/vendor/roboto/Roboto-Italic.ttf") format("truetype"),
    url("fonts/vendor/roboto/Roboto-Italic.ttf") format("truetype"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Roboto-500italic - latin */
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src:
    // Google Fonts Roboto
    local("Roboto Italic Medium Italic"),
    local("RobotoItalic-Medium"),
    // indestructible Roboto*
    local("Roboto* Medium Italic"),
    local("Roboto-MediumItalic"),
    url("fonts/vendor/roboto/Roboto-MediumItalic.ttf") format("truetype"),
    url("fonts/vendor/roboto/Roboto-MediumItalic.ttf") format("truetype"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Roboto-700italic - latin */
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:
    // Google Fonts Roboto
    local("Roboto Italic Bold Italic"),
    local("RobotoItalic-Bold"),
    // indestructible Roboto*
    local("Poppins* Bold Italic"),
    local("Poppins-BoldItalic"),
    url("fonts/vendor/roboto/Roboto-BoldItalic.ttf") format("truetype"),
    url("fonts/vendor/roboto/Roboto-BoldItalic.ttf") format("truetype"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("/fonts/vendor/poppins/Poppins-Thin.ttf") format("truetype");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("/fonts/vendor/poppins/Poppins-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/vendor/poppins/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/vendor/poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/vendor/poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/vendor/poppins/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/vendor/poppins/Poppins-Bold.ttf") format("truetype");
}
